.navigation{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    margin:0.5em auto;
    border: 2px solid orange;
    border-radius: 5px;
    width:30em;
}

.navigation a{
    color: orangered;
    display:block;
    font-weight: bold;
    width: 50%;
    text-align: center;
    padding: 1em 0;

}

.navigation a:hover{
    color: orangered;
}

.navigation a.active{
    color: white;
    text-decoration: none;
    background-color: orangered;
}