.header{
  position :relative;
  left: calc(-1*var(--lateral-padding));
  width: calc(100% + 2*var(--lateral-padding));
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7em;
  background: linear-gradient(to right, #f12711, #f5af19);
}

.header h1{
  margin: 0;
  padding: 0 0.4em;
  font-size: 1.95em;
  color: black;
}

.header img {   
  height: 100%;
  aspect-ratio: auto;
}

.kfc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.kfc a{
    border-radius:.2em;
    margin-bottom:0.35em;
    line-height: 0.9em;
    text-decoration: none;
    display: block;
    padding:.1em;
    border: 2px solid red;
}

.kfc a:hover{
  background-color: orange;

}