.footer {
  border-radius: 3px;
  background-image: var(--theme-gray-gradient);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  list-style: none;
  /* margin: 0.3em; */
  padding: 0.2em;
}

.footer ul li {
  margin: 0;
  padding: 0.15em 0.5em;
  display: flex;
  justify-content: center;
}

.footer ul li:last-child {
  border: none;
}

.footer ul li a {
  align-self: center;
  text-align: center;
  color: var(--theme-footer-link);
  font-size: 0.85em;
}
