:root{
  --lateral-padding: 1.5em;
  --max-width: 1230px; 

  --theme-header-background : #f7f7f7;

  --theme-menu-background : #414C5C;
  --theme-menu-background-active : #3467ae;
  --theme-menu-background-hover : rgb(255, 208, 0);
  --theme-menu-link : white;
  --theme-menu-link-active : white;
  --theme-menu-link-hover: #514930;
  --theme-menu-separator :#414C5C;

  --theme-footer-link : #514930;

  --theme-gray-gradient: linear-gradient(180deg,#ffffffd7,#dbdbdb);
  
    box-sizing: border-box;
    background-color:black;
}

body{
  background-color:black;
}

#root{
  max-width:var(--max-width);
  margin: 0 auto;
  padding: 0 var(--lateral-padding) 0.5em var(--lateral-padding);
  border-radius:3px;
  
  background-color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  line-height: 1.6em;
}

.App {

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}








